.header {
    width: 100%;
    height: auto;
    background: #FBB48A;
    background: linear-gradient(180deg, rgba(251, 180, 138, 1) 0%, rgba(240, 146, 128, 1) 50%, rgba(219, 124, 108, 1) 100%);
    color: #ffffff;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}