html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
}

body {
    background: #FBCD8B;
    background: linear-gradient(135deg, rgba(251, 205, 139, 1) 0%, rgba(249, 156, 138, 1) 50%, rgba(240, 146, 128, 1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Sour Gummy", sans-serif;

}

.cardContainer {
    height: 100%;
    max-width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    max-height: 100%;
}

.shadow-custom {
    box-shadow: 10px 17px 26px 18px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 10px 17px 26px 18px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 17px 26px 18px rgba(0, 0, 0, 0.4);
}